**/bin/*
**/obj/*
TestResults/*
*.suo
*.user
build/output/*
_ReSharper*
.DS_Store
.localized
Icon
.Trashes
logger.log
IP-COUNTRY-REGION-CITY-LATITUDE-LONGITUDE-ZIPCODE.BIN
deployment/*
log/
Log/
Photofy.Portal/Photofy.Portal.Web/App_Data/*
packages/*

.vs/*

Photofy.Portal/Photofy.Portal.Web/Temp/*
Photofy.Portal/Photofy.Portal.Web/imagecache

#JetBrains
*.sln.iml
.idea

node_modules
*.zip
*/test-images/
*/test.js